<template>
    

    <lightning-breadcrumbs>
        <template for:each={myBreadcrumbs} for:item="crumbs">
            <lightning-breadcrumb
                key={crumbs.id}
                label={crumbs.label}
                name={crumbs.name}
                onclick={handleNavigateTo}>
            </lightning-breadcrumb>
        </template>
    </lightning-breadcrumbs>
    
    <lightning-datatable
                key-field="key"
                data={fundData}
                columns={columns}
                hide-checkbox-column="true"  
                show-row-number-column="true"  
                onrowaction={callRowAction}>  
    </lightning-datatable>


</template>