.THIS .data-row {
 background-color:#F5F5F5;
}


@media only screen and (max-width:768px){
    .THIS .slds-max-medium-table_stacked-horizontal td.hideCell, .THIS .hideCell div, 
    .THIS .slds-max-medium-table_stacked-horizontal td.hideCell:before, 
    .THIS .slds-max-medium-table--stacked-horizontal td.hideCell:before
    {
        display:none!important;
    }
    .THIS .slds-max-medium-table_stacked-horizontal td:nth-child(2){
        cursor:pointer;
    }
    
  
    .THIS .subscriptionMgmt .slds-truncate{
    	white-space:normal!important;
	}
    
    .THIS .slds-max-medium-table_stacked-horizontal td{
        border-left:2px solid rgb(217, 219, 221);
        border-right:2px solid rgb(217, 219, 221);
    }
    
    .THIS .slds-max-medium-table_stacked-horizontal {
        text-align:left;
    }
    
     .THIS .slds-max-medium-table_stacked-horizontal tr:last-child{
        border-bottom:2px solid rgb(217, 219, 221);
    }
    
    .THIS .iconFix{
        left:2.75rem!important;
    }
}

@media only screen and (max-width:767px){
	.THIS .slds-page-header__name h1 span.slds-page-header__title{
		white-space:normal!important;
	}
	
}

@media only screen and (max-width:480px){
    .THIS .subscriptionMgmt .slds-truncate{
        white-space:normal!important;
    	width: 100%!important;
    	text-align: left;
    }
}