<apex:page standardController="Contact" sidebar="false">
    <apex:includeLightning />
    
    <div id="lightning" />
    
    <script>
    var recordId = '{!Contact.id}';
    
    $Lightning.use("c:CalculateContactSubscription_App", function() {
        var attributes = {
            recordId: recordId
        };
        
        $Lightning.createComponent("c:CalculateContactSubscription", attributes , "lightning",
                                   function(cmp) {
                                       
                                   });
    });
    </script>
</apex:page>