<apex:page standardcontroller="Fund__c" extensions="FundInterestManagement" standardStylesheets="true" showHeader="false" sidebar="false" title="Fund Interest Management">
<apex:stylesheet value="{!URLFOR($Resource.Blue, 'style.css')}"/>
<script src="{!URLFOR($Resource.jquery_latest)}" type="text/javascript"></script>
    <apex:form >
        <apex:messages style="color:red;"/>
        <br/><h1 style="color:blue;">
        NOTE: Column sorting has been disabled because your browser does not support it.  You can use the Fund Type Filter and CRTL-F to find the fund you want.</h1>
            <br/><br/><table align="center"><tr><td>
            <b>Manage Fund Interests for {!strFirstname} {!strLastName}</b>
            </td></tr></table><br/><br/>
        <apex:pageBlock >
                <br/><table align="center"><tr><td>
                <apex:outputText value="Filter By Fund Type: " />   
                <apex:inputField id="filtergroups" styleClass="filtergroups" value="{!Fund__c.Fund_Type__c}"/>
                </td></tr></table><br/><br/>
                <apex:outputPanel id="pnlTbl">
                <script language="javascript" type="text/javascript">
                    $(document).ready(function(){
                        $(".filtergroups").change(function () {
                            var selection = $(".filtergroups").val();
                            if (selection == "all") {
                                $(".dataRow").show();
                            }
                            else {
                                $(".dataRow").hide();
                                $("." + selection).show(); 
                            }
                        });
                        $(".filtergroups").trigger("change");
                    });   
                </script>
                <table id="theTable" class="list tablesorter" cellspacing="1">
                    <thead class="rich-table-thead">
                        <tr class="headerRow">
                            <th colspan="1" scope="col">Fund Name</th>
                            <th colspan="1" scope="col">Level Of Interest</th>
                            <th colspan="1" scope="col">Re-Confirmed</th>
                            <th colspan="1" scope="col">Fund Type</th>
                            <th colspan="1" scope="col">Fund Abbreviation</th>
                            <!-- <th colspan="1" scope="col">Fund Group</th>    -->
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!FundInterest}" var="fi" id="subRepator">
                            <tr class="dataRow {!fi.Fund_Type}">
                                <td><apex:outputLink value="/{!fi.FundId}" title="{!fi.Fund_Name}" target="_blank">{!fi.Fund_Name}</apex:outputLink></td>
                                <td>
                                    <apex:selectList id="slIntrest" value="{!fi.Level_Of_Interest}" size="1">
                                      <apex:selectOptions value="{!IntLevelOptions}"/>
                                    </apex:selectList>
                                    <apex:outputLabel value="{!fi.Level_Of_Interest}" style="visibility:hidden;"  />
                                </td>
                                <td> <apex:inputCheckbox value="{!fi.Confirmed}" rendered="{!fi.ReConfirmedCheckBoxRendered }"/></td>
                                <td><apex:outputLabel value="{!fi.Fund_Type}"/></td>
                                <td><apex:outputLabel value="{!fi.Fund_Ticker_Symbol}" /></td>
                                <!-- <td><apex:outputLabel value="{!fi.Fund_Group}" /></td>    -->
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </apex:outputPanel> 
            <apex:pageBlockButtons > 
                <apex:commandButton value="Submit" id="updateBtn" action="{!setFundInterests}"></apex:commandbutton>
                <apex:commandButton value="Cancel" action="{!cancelRecord}" id="updateBtn1"></apex:commandbutton>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>